body {
    background-color: black;
    color: lightskyblue;
}
.bestest {
    display: flex;
    align-items: center;
}
img {
    width: 300px;
    border-radius: 10px;
    margin: 20px;
    margin-left: 0px;
    cursor: pointer;
}
p.list_name {
    font-weight: bold;
}
em {
    color: red;
    font-style: italic;
}
strong {
    
    font-family: 'Impact';
    font-weight: normal;
    font-size: xx-large;
    outline-style: double;
    outline-color: darkblue;
    outline-width: thick;
}
.bestest_download {
    font-size: xx-large;
}
a:link {
    color: white;
}
a:visited {
    color: green;
}
a:active {
    color: blue;
}